html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: grey;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sideheading {
    display: flex;
    justify-content: left;
    text-align: center;
    width: 50%;
    padding: 20px;
    font-size: 20px;
    margin-left: 30px;
}

.sideheading img{
    height: 10vh;
    border-radius: 50%;
}

.sideheading h2 {
    padding: 20px;
    color: white;

}

nav {
    display: flex;
    justify-content: right;
    width: 50%;
    padding: 20px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
}

nav a:hover {
    background: goldenrod;
    color: black;
}

nav a:first-child {
    background: goldenrod;
    color: black;
    height: 10vh;
}

#chk {
    display: none;
    opacity: 0;
}
.show-btn, .hide-btn {
    display:none ;
    /*padding: 20px;*/
    font-size: 30px;
    color: white;
}

main {
    width: 100%;
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-image: url("https://picsum.photos/700/700");
    background-repeat: no-repeat;
    background-size: cover;
}

main > h2{
    font-size: 40px;
    /*line-height: 90vh;*/
}

main > button {
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    background:cornflowerblue;
    color: white;
    font-size: 20px;
    padding:20px;
}

main > button:hover {
    padding: 25px;
    font-size: 25px;
}

footer{
    position: relative;
    background: gainsboro;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-size: 30px;
    padding: 10px;
}

#contact a{
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

#contact i {
    background: cornflowerblue;
    border-radius: 100%;
    color: white;
    font-size: 40px;
    padding: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

@media (max-width:768px) {
    .show-btn {
        display: block;
        position: relative;
        transform: translateX(700px);
        transition: 0.7s;

    }
    .sideheading h2{
        font-size: 20px;
        margin-left: -50px;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        background-color: #333;
        text-align: center;
        padding: 80px 0px;
        line-height: normal;
        transition: 0.7s;
        display: block;
        justify-content: center;
    }

    #chk:checked ~ nav {
        right: 0;
        display: block;
    }

    #chk:checked ~ .hide-btn {
        display: block;
        z-index: 100;
        position: fixed;
    }

    nav a:hover {
        background: none;
        color: white;
    }

    nav a:first-child {
        background: #333;
        color: white;
        height: 10vh;
    }

    .hide-btn {
        position: absolute;
        right: 20px;
        top: 10px;
    }

}